<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Folder</title>
  </head>
  <body>
    <a href="/logout">LOG OUT</a>
    <h1>Create a Folder</h1>
    <form action="/folders" method="POST">
      <section>
        <label for="name">Folder Name</label>
        <input id="name" name="name" placeholder="name" type="text" />
      </section>
      <button>Submit</button>
    </form>
  </body>
</html>
